*node_modules
.DS_Store
*.swp
*.swo

web/visualization/ModelApp/phonegap/3pg-model/platforms/android

web/visualization/ModelApp/phonegap/3pg-model/plugins
web/visualization/ModelApp/.tmp
web/visualization/ModelApp/.sass-cache
web/visualization/ModelApp/phonegap_build
web/visualization/ModelApp/phonegap/3pg-model/www/dist
