
.tab-pane .row .form-group {
	padding-top : 15px;
}

.page-header {
	margin-top: 50px;
}

.navbar-fixed-top {
	box-shadow: 0 0 5px #333;
}

.config-overlay {
	position: fixed;
	display: block;
	background: rgba(250,250,250,.95);
	z-index: 100;
	width: 100%;
	top: -600px;
	box-shadow: 0 0 10px #888;
	padding: 0 15px;
	overflow: auto;
}

.blank-icon {
	color: #eee;
	font-size: 200px;
	text-shadow: 1px 1px #888;
}

.slide-popup {
	background: white;
    border: 1px solid #888;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index:1000;
    width:90%;
    height:90%;
    border-radius:16px;
}

.slide-popup-bg {
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.8);
    z-index:999;
}

.slide-popup-close {
	font-size:30px;
	color:#869791;
	cursor:pointer;
	position:absolute;
    top: 4px;
    right: 7px;
    z-index:1001;
    opacity:.5;
}

.slide-popup-close:hover {
	 opacity:1;
}

#show-chartspopup-btn {
	font-size:25px;
	margin: 15px 20px 0 0;
	display:none;
	color: #ddd;
	cursor:pointer;
}
#show-chartspopup-btn:hover {
	color: #888;
}


#owl-demo .item div{
    display: block;
    width: 100%;
    height: auto;
}

.navbar-brand img {
    width: 32px;
    height: 32px;
    margin: -16px 5px -14px 0;
    border-radius: 4px;
    box-shadow: 0 0 3px #888;
}

.legend-square {
    float:left;
    width: 24px;
    height: 24px;
    margin: 5px 10px 5px 5px;
    border-radius: 4px;
}
   
.legend-text {
    font-size: 18px;
    margin-left: 40px;
}
