
.tab-pane .row .form-group {
	padding-top : 15px;
}

.page-header {
	margin-top: 50px;
}

.navbar-fixed-top {
	box-shadow: 0 0 5px #333;
}

.config-overlay {
	position: fixed;
	display: block;
	background: rgba(250,250,250,.95);
	z-index: 100;
	width: 100%;
	top: -600px;
	box-shadow: 0 0 10px #888;
	padding: 0 15px;
	overflow: auto;
}

.blank-icon {
	color: #eee;
	font-size: 200px;
	text-shadow: 1px 1px #888;
}